<h1>Welcome!</h1>

<ul>
  <li><%= link_to 'Questions', questions_path %></li>
  <li><%= link_to 'Answers', answers_path %></li>
  <li><%= link_to 'Answer Question!', games_pickquestion_path %></li>
</ul>